@model WowGuildApp.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownListFor(model => model.Category, new SelectList(Enum.GetValues(typeof(Post.Categories)).OfType<Post.Categories>().Select(m => new { Text = EnumExtensions.DisplayName(m), Value = EnumExtensions.DisplayName(m), Selected = Model.Category }).ToList(), "Value", "Text"), new { @class = "form-control" })
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                @Html.TextAreaFor(model => model.Content)
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Date" class="form-control" />
                <input type="hidden" asp-for="LastEdited" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- TinyMCE Script Reference -->
@*<script src="~/scripts/tinymce/tinymce.min.js"></script>*@
<script src="~/js/tinymce/tinymce.min.js"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tinymce.init({
        selector: 'textarea',
        height: 500,
        width: 500,
        theme: 'modern',
        branding: false,
        plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>