/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-color: #212529;
    color: white;
}

.fc-title {
  color: white;
}

footer {
    text-align: center;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: lightgray;
}

.forum-categories a {
    color: lightblue;
}

/*Saved colors*/
/*#373a3e*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.fc-event {
  background-color: red;
  border-color: #ff3333;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

a {
    transition: color 0.3s ease-in-out;
}

.forum-posts tr td {
    border-top: 2px solid;
    border-color: #171a1c !important;
}

.forum-posts thead tr th {
    border: none !important;
}

.reply-wrapper {
    border-top: 2px solid #373a3e;
    text-align: right;
}

.reply-with-quote {
    display: inline-block;
    font-size: 12px;
    padding-top: 10px;
}

.reply-with-quote:hover {
    cursor: pointer;
    opacity: 0.5;
}

.post-content img {
    max-width: 100%;
}

.user-profile {
    color: white;
    padding: 5px;
    font-size: 14px;
}

.user-profile:hover {
    cursor: pointer;
}

.user-image {
    float: left;
    margin-right: 10px;
    width: 84px;
    height: 84px;
}

.user-username {
    margin: 0;
    font-size: 18px
}

.user-guild-rank {
    margin: 0;
}

.user-class {
    margin: 0;
    color: lightpink;
}

.user-ilvl {
    margin: 0;
    color: darkgrey;
}

.user-postcount {
    margin: 0;
    color: darkgrey;
}

.paging {
    background-color: #171a1c;
    padding: 15px;
    line-height: 20px;
    border-bottom: 2px solid #373a3e;
    text-align: right;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    border: 1px solid grey;
    background-color: white;
}

    .pagination li a {
        padding: 5px;
        color: grey;
    }

.pageCount {
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 0;
}

.nextPage, .previousPage {
    display: inline-block;
}

    .nextPage a, .previousPage a {
        padding: 5px;
        color: lightgrey !important;
    }

.activePage {
    background-color: black !important;
}

.activePage a {
    color: white !important;
}

.edit-post {
    font-size: 22px;
    color: orange;
    transition: opacity 0.3s ease-in-out;
}

    .edit-post:hover { 
        opacity: 0.5;
        color: orange;
    }

.edit-comment {
    color: orange;
    transition: opacity 0.3s ease-in-out;
}

    .edit-comment:hover {
        opacity: 0.5;
        color: orange;
    }

.delete-post {
    font-size: 22px;
    color: darkred;
    transition: opacity 0.3s ease-in-out;
}

.delete-comment {
    color: darkred;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
}

.delete-post:hover, .delete-comment:hover {
    opacity: 0.5;
    color: darkred;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    background-color: #373a3e;
    border-radius: 5px;
    border: 2px solid #171a1c;
    padding: 10px;
    margin-bottom: 20px;
}

.go-to-post {
    margin-right: 10px;
    color: lightgrey;
}

    .go-to-post:hover {
        color: white;
        cursor: pointer;
    }

.class-warrior {
    color: #c69b6d;
}

.class-paladin {
    color: #f48cba;
}

.class-hunter {
    color: #aad372;
}

.class-rogue {
    color: #fff468;
}

.class-priest {
    color: #f0ebe0;
}

.class-dk {
    color: #c41e3b;
}

.class-shaman {
    color: #2359ff;
}

.class-mage {
    color: #68ccef;
}

.class-warlock {
    color: #9382c9;
}

.class-monk {
    color: #00ffba;
}

.class-druid {
    color: #ff7c0a;
}

.class-dh {
    color: #a330c9;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
