/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-color: #212529;
    color: white;
}

footer {
    text-align: center;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: lightgray;
}

.forum-categories a {
    color: lightblue;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.paging {
    background-color: #171a1c;
    padding: 10px;
    border-bottom: 2px solid #373a3e;
    text-align: right;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    border: 1px solid grey;
    background-color: white;
}

    .pagination li a {
        padding: 5px;
        color: grey;
    }

.pageCount {
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 0px;
}

.nextPage, .previousPage {
    display: inline-block;
}

    .nextPage a, .previousPage a {
        padding: 5px;
        color: lightgrey !important;
    }

.activePage {
    background-color: black !important;
}

.activePage a {
    color: white !important;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
