/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-color: #212529;
    color: white;
}

footer {
    text-align: center;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: lightgray;
}

.forum-categories a {
    color: lightblue;
}

/*Saved colors*/
/*#373a3e*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

a {
    transition: color 0.3s ease-in-out;
}

.reply-wrapper {
    border-top: 2px solid #373a3e;
    text-align: right;
}

.reply-with-quote {
    display: inline-block;
    font-size: 12px;
    padding-top: 10px;
}

.reply-with-quote:hover {
    cursor: pointer;
    opacity: 0.5;
}

.user-profile {
    color: white;
    padding: 5px;
    font-size: 14px;
}

.user-profile:hover {
    cursor: pointer;
}

.user-image {
    float: left;
    margin-right: 10px;
}

.user-username {
    margin: 0;
    font-size: 18px
}

.user-guild-rank {
    margin: 0;
}

.user-class {
    margin: 0;
    color: lightpink;
}

.user-ilvl {
    margin: 0;
    color: darkgrey;
}

.user-postcount {
    margin: 0;
    color: darkgrey;
}

.paging {
    background-color: #171a1c;
    padding: 15px;
    line-height: 20px;
    border-bottom: 2px solid #373a3e;
    text-align: right;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    border: 1px solid grey;
    background-color: white;
}

    .pagination li a {
        padding: 5px;
        color: grey;
    }

.pageCount {
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 0;
}

.nextPage, .previousPage {
    display: inline-block;
}

    .nextPage a, .previousPage a {
        padding: 5px;
        color: lightgrey !important;
    }

.activePage {
    background-color: black !important;
}

.activePage a {
    color: white !important;
}

.edit-post {
    font-size: 22px;
    color: orange;
    transition: opacity 0.3s ease-in-out;
}

    .edit-post:hover { 
        opacity: 0.5;
        color: orange;
    }

.edit-comment {
    color: orange;
    transition: opacity 0.3s ease-in-out;
}

    .edit-comment:hover {
        opacity: 0.5;
        color: orange;
    }

.delete-post {
    font-size: 22px;
    color: darkred;
    transition: opacity 0.3s ease-in-out;
}

.delete-comment {
    color: darkred;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
}

.delete-post:hover, .delete-comment:hover {
    opacity: 0.5;
    color: darkred;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    background-color: #373a3e;
    border-radius: 5px;
    border: 2px solid #171a1c;
    padding: 10px;
    margin-bottom: 20px;
}

.go-to-post {
    margin-right: 10px;
    color: lightgrey;
}

    .go-to-post:hover {
        color: white;
        cursor: pointer;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
