
$fcText : white;
$fcEvent : red;


.fc-title {
    color: $fcText;
}

.fc-time {
    color: $fcText;
}

.fc-event{
    background-color: $fcEvent;
    border-color: lighten($fcEvent,10%)
}

.character-card-text{
    list-style:none;
    padding-left:0;
}