@model Lineup
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="list-group-item">
    <div>

        @Model.Signup.Character.Name

        <p data-toggle="modal" data-target="#lineup-@Model.Id">
            Officer Note: @if (Model.OfficerNote != null)
            {<text>@Model.OfficerNote</text>}

        </p>

        @if (Model.Note != null)
        {
            <p>
                <text>
                    Note: @Model.Note
                </text>
            </p>
        }
    </div>
</div>