@model Lineup
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade officer-note-modal" id="signup-tank-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.User.UserName Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="OfficerNote" class="officer-note-form" id="officer-note-form-@Model.Id">
                    <textarea asp-for="OfficerNote"></textarea>
                    <input asp-for="EventId" type="hidden" value="@Model.EventId" />
                    <input asp-for="UserId" type="hidden" value="@Model.UserId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="officer-note-form-@Model.Id" class="btn btn-primary" value="Add Note" />
            </div>
        </div>
    </div>
</div>