@model Character
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@switch (Model.Class)
{
    case 1:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Arms">
                    Arms
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Fury">
                    Fury
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="3">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Protection">
                    Protection
                </label>
            </div>
        </text>
        break;
    case 2:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Retribution">
                    Retribution
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="2">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Holy">
                    Holy
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="3">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Protection">
                    Protection
                </label>
            </div>
        </text>
        break;
    case 3:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Marksman">
                    Marksman
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Beastmaster">
                    Beastmaster
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="1">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Survival">
                    Survival
                </label>
            </div>
        </text>
        break;
    case 4:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Sublety">
                    Sublety
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Assassination">
                    Assassination
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="1">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Outlaw">
                    Outlaw
                </label>
            </div>
        </text>
        break;
    case 5:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Shadow">
                    Shadow
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="2">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Discipline">
                    Discipline
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="2">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Holy">
                    Holy
                </label>
            </div>
        </text>
        break;
    case 6:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Frost">
                    Frost
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Unholy">
                    Unholy
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="3">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Blood">
                    Blood
                </label>
            </div>
        </text>
        break;
    case 7:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Elemental">
                    Elemental
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Enhancement">
                    Enhancement
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="2">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Restoration">
                    Restoration
                </label>
            </div>
        </text>
        break;
    case 8:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Frost">
                    Frost
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Fire">
                    Fire
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="1">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Arcane">
                    Arcane
                </label>
            </div>
        </text>
        break;
    case 9:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Destruction">
                    Destruction
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Demonology">
                    Demonology
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="1">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Affliction">
                    Affliction
                </label>
            </div>
        </text>
        break;
    case 10:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Windwalker">
                    Windwalker
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="3">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Brewmaster">
                    Brewmaster
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="2">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Mistweaver">
                    Mistweaver
                </label>
            </div>
        </text>
        break;
    case 11:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Feral">
                    Feral
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="1">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Balance">
                    Balance
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationThree" name="Signup.SpecializationThree" type="checkbox" value="2">
                    <input id="Signup_SpecializationThreeString" name="Signup.SpecializationThreeString" type="hidden" value="Restoration">
                    Restoration
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationFour" name="Signup.SpecializationFour" type="checkbox" value="3">
                    <input id="Signup_SpecializationFourString" name="Signup.SpecializationFourString" type="checkbox" value="Guardian">
                    Guardian
                </label>
            </div>
        </text>
        break;
    case 12:
        <text>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationOne" name="Signup.SpecializationOne" type="checkbox" value="1">
                    <input id="Signup_SpecializationOneString" name="Signup.SpecializationOneString" type="hidden" value="Havoc">
                    Havoc
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" data-val="true" data-val-required="The RoleDps field is required." id="Signup_SpecializationTwo" name="Signup.SpecializationTwo" type="checkbox" value="3">
                    <input id="Signup_SpecializationTwoString" name="Signup.SpecializationTwoString" type="hidden" value="Vengeance">
                    Vengeance
                </label>
            </div>
        </text>
        break;
}