@model CalendarViewModel
@{
    ViewData["Title"] = "Raid Planner";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <a href="/Events/Index/@Model.prev" class="btn btn-primary col-lg-4">Prev</a>
        <p class="col-lg-4">@Model.date.ToString("MMMM")</p>
        <a href="/Events/Index/@Model.next" class="btn btn-primary col-lg-4">Next</a>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <td>
                Monday
            </td>
            <td>
                Tuesday
            </td>
            <td>
                Wednsday
            </td>
            <td>
                Thursday
            </td>
            <td>
                Friday
            </td>
            <td>
                Saturday
            </td>
            <td>
                Sunday
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>